<div class="container">
  <h1 class="display-2">Movie Lists</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to "#{list.name}", list_path(list.id), class: 'text-decoration-none' %></li>
    <% end %>
  </ul>

  <%= link_to 'Create list', new_list_path, class: 'btn btn-primary' %>
</div>
